// app global css in Sass form

.intersetion-icon-box
  padding: 2px
  width: 100%
  min-height: 85px


  &--inner
    border: 1px solid #cacaca
    margine: 2px
    border-radius: 4px
    width: 100%
    height: 100%
    cursor: pointer
    &:hover
      background: rgba(0,0,0,.14)

.icons-footer
  height: 60px

@supports (backdrop-filter: none)
  .glass
    background-color: rgba(25,118,210,.65)
    color: white
    backdrop-filter: blur(7px)

@supports not (backdrop-filter: none)
  .glass
    background-color: $primary
    color: white

.q-dark div,
.body--dark div

  @supports (backdrop-filter: none)
    .glass
      background-color: rgba(0,0,0,.65)
      color: white
      backdrop-filter: blur(7px)

  @supports not (backdrop-filter: none)
    .glass
      background-color: black
      color: white
